untitled_server/untitled_server/obj/project.nuget.cache
untitled_server/untitled_server/obj/project.assets.json
untitled_server/untitled_server/obj/untitled_server.csproj.nuget.dgspec.json
untitled_server/untitled_server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
untitled_server/untitled_server/obj/untitled_server.csproj.nuget.g.props
untitled_server/untitled_server/obj/untitled_server.csproj.nuget.g.targets
untitled_server/untitled_server/obj/Debug/net8.0/untitled_server.AssemblyInfo.cs
untitled_server/untitled_server/obj/Debug/net8.0/untitled_server.AssemblyInfoInputs.cache
untitled_server/untitled_server/obj/Debug/net8.0/untitled_server.assets.cache
untitled_server/untitled_server/obj/Debug/net8.0/untitled_server.csproj.AssemblyReference.cache
untitled_server/untitled_server/obj/Debug/net8.0/untitled_server.GeneratedMSBuildEditorConfig.editorconfig
untitled_server/untitled_server/obj/Debug/net8.0/untitled_server.GlobalUsings.g.cs
